 body {
        font-family: "Rubik", sans-serif;
        font-weight: 500;
		color: #283334;
		
}

 .first-color { 
	background: #97C1C4; 
}
	
.second-color { 
	background: #425456;
	color: white; 
}

.third-color { 
	background: #5C7678; 
	color: white; 
}

.fourth-color { 
	background: #5C7678;
	color: white;  
}


/* 
#01261F
#F2F2F2
#F29F05
#F28705
#D90404
 */