 body {
        font-family: "Rubik", sans-serif;
        font-weight: 500;
		color: #2a2438 
}

.first-color { 
	background: #dbd8e3; 
}
	
.second-color { 
	background: #5c5470;
	color: #dbd8e3; 
}

.third-color { 
	background: #352f44; 
	color: #dbd8e3; 
}

.fourth-color { 
	background: #2a2438;
	color: #dbd8e3;  
}
