/* body {
        background-color: #6996E2;
        font-family: "Rubik", sans-serif;
        font-weight: 500
}

.card{
      background-color: #7ea1dd;  
      border-color: #7ea1dd;
} */


/* css per i New Components */
.first-color { 
	background: #dbd8e3; 
}
	
.second-color { 
	background: #5c5470; 
}

.third-color { 
	background: #352f44; 
}

.fourth-color { 
	background: #2a2438; 
}